@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        @apply text-black;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Inter', sans-serif;    }
    h1 {
        @apply text-white;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Inter', sans-serif;
    }
    h2 {
        @apply text-white;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Bebas Neue', sans-serif;
    }
    button{
        @apply   py-2 px-4 text-black;
    }
    input{
        @apply rounded-xl h-8 pl-8;
    }
      
}