@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    html {
        @apply text-black;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Inter', sans-serif;    }
    h1 {
        @apply text-white;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Inter', sans-serif;
    }
    h2 {
        @apply text-white;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Bebas Neue', sans-serif;
    }
    button{
        @apply   py-2 px-4 text-black;
    }
    input{
        @apply rounded-xl h-8 pl-8;
    }
      
}

/* in your styles.css or the equivalent */
.bubble {
    @apply absolute opacity-0;
    bottom: -600px;
    animation: rise 5s infinite, sway 1s infinite;
    background-image: url('/bubbles.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .masked-video {
    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 70%);
    mask-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }

  .animatedPath {
    transition: transform 0.7s ease-in-out;
  }

  .mask {
    mask-image: url('/MaskTest.png');
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-mode:luminance;
    -webkit-mask-mode:luminance;
  }

  .gradient-overlay {
    background: linear-gradient(to right, transparent 50%, black 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-in-out;
    background-position: 0% 0%;
  }
  
  .gradient-overlay.reveal {
    background-position: 100% 0%;
  }
  
  
  
  @keyframes rise {
    0% {
      bottom: -600px;
      opacity: .6;
    }
    100% {
      bottom: calc(100% + 600px);
      opacity: 0;
    }
  }
  
  @keyframes sway {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20px);
    }
  }
  